@font-face{
  font-family: "SunBatang";
  font-weight: normal;
  src: url('SunBatang-Light.woff');
}
html {
  background-color: #333;
}
body {
  background-color: #f5f1ee;
  font: 14px/32px SunBatang;
  height: 100%;
  margin: auto;
  max-width: 480px;
  padding-bottom: 24px;
  text-align: center;
  width: 100%;
  word-break: keep-all;
}
img {
  height: auto;
  width: 100%;
}
a {
  text-decoration: none;
}
input::placeholder, textarea::placeholder {
  font-family: SunBatang;
  line-height: 28px;
  vertical-align: text-bottom;
}
.title, .subtitle, .location-subtitle {
  color: #bf8362;
}
.title {
  font-size: 20px;
  padding: 40px 0 32px;
}
.subtitle {
  font-size: 18px;
  padding: 48px 0 16px;
}
.banner, .entry {
  background-color: #fff;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 7%);
}
.banner {
  margin: 0 14px;
}
.banner-text, .family-members {
  font-size: 16px;
}
.banner-text {
  padding: 20px 0;
}
.greetings-text, .family-members, .location-info {
  margin: 16px 32px 0;
}
.greetings-text {
  margin-bottom: 48px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  padding: 4px;
}
.grid a {
  height: 200px;
}
.grid img {
  height: 200px;
  object-fit: cover;
}
.location-info, .entry {
  text-align: left;
}
.location-info {
  line-height: 24px;
}
.location-subtitle {
  font-size: 16px;
  margin: 16px 0 4px;
}
.kakaopay {
  height: 16px;
  vertical-align: text-top;
  width: auto;
}
.family-members .relation {
  color: #8a857f;
  font-size: 12px;
}
.button, .mini-button {
  background-color: #dab396;
  color: #fff;
  cursor: pointer;
  padding: 4px 20px;
}
#map {
  height: 240px;
  width: 100%;
}
.entry {
  border-bottom: 0;
  border-radius: 8px;
  font-size: 13px;
  margin: 0 48px 16px;
  position: relative;
}
.row {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  margin-bottom: 8px;
}
.name {
  font-size: 15px;
  text-align: left;
}
.date, .delete {
  color: #aaa;
  font-size: 11px;
}
.delete {
  cursor: pointer;
}
.message {
  line-height: 14px;
  white-space: pre-wrap;
}
.form, #submit-form-button, #guestbook-button {
  margin: 0 48px 0;
}
.form {
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 8px;
  position: relative;
}
#name, #passwd, #message {
  border-width: 0;
  font-size: 14px;
  height: 28px;
  padding: 0;
  width: 100%;
}
#message {
  resize: none;
  height: 42px;
}
#guestbook {
  margin-top: 16px;
}
#submit-form-button {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#guestbook-button {
  border-radius: 8px;
}
.divider {
  background-color: #aaa;
  height: 1px;
  width: 100%;
}
.account-button {
  margin: 8px 48px 0;
}
.account-button:after {
  content: '\002B';
  font-weight: bold;
  float: right;
}
.account-item {
  margin: 0 48px 0;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
}
.active:after {
  content: "\2212";
}
.word {
  white-space: nowrap;
}
.mini-button {
  margin: 3px 10px 3px;
}
